defaults: &defaults
  working_directory: ~/code
  docker:
    - image: circleci/android:api-27-alpha
  environment:
    JVM_OPTS: -Xmx3200m

version: 2
jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "android-sdk/build.gradle" }}
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "android-sdk/build.gradle" }}
      - run:
          name: Run Tests
          command: ./gradlew lint test
      - store_artifacts:
          path: android-sdk/build/reports
          destination: reports
      - store_test_results:
          path: android-sdk/build/test-results
      - run:
          name: Build library
          command: ./gradlew assemble
      - store_artifacts:
          path: android-sdk/build/outputs/aar/
          destination: aar

  release:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "android-sdk/build.gradle" }}
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "android-sdk/build.gradle" }}
      - run:
          name: Publish to Bintray
          command: ./gradlew bintrayUpload

workflows:
  version: 2
  build-and-release:
    jobs:
      - build:
          filters:
            # By default a build is only triggered on commits. Lets build for any tag too.
            tags:
              only: /.*/
      - release:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
